/* Global Styles */
body, html, #root {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: #fff;
}

/* Transition Styles */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* Additional Styles */
.card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.card-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
